This will display all the users. Hi
<br/>
<% if(@users.nil?)%>
<p>You have no users!</p>
<% end %>
<% @users.each do |user| %>
			<% if(user.stampcard == nil)%>
     Name: <%= user.name %> <br />
     Email: <%= user.email %> <br />
     <p> This is user: </p> <%=user.id%>
     They do not have a stampcard created

		<% else %>
     <% stamps = Stamp.where(stampcard_id: user.stampcard.id)%>
     Name: <%= user.name %> <br />
     Email: <%= user.email %> <br />
     <p> This is user: </p> <%=user.id%> 

     <p> <%= user.name %>'s Stamp Card</p>
			<img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.15752-9/44583354_1962459730486599_2648647413081833472_n.png?_nc_cat=101&_nc_ht=scontent-lax3-1.xx&oh=e873ef0bb3f5cc255c00e7bce4c87f27&oe=5D24AA45" style="width:550px;height:320px;">
     <br>
     You have these stamps<br>
     <% user.stampcard.stamps.each do |stamp| %>
     You have stamp name: <%= stamp.name%> 
     That stamp is part of category: <%= stamp.category%>
     <img src= "<%=stamp.image%>" style="width:50px;height:50px;">
     <br>
     <% end %>
     <% end %>

<% end %>     