This is the total users: <%= @variable %>
STAMPCARD NAME IS THE DESCRIPTIOn
Stamps have staampcard id, achievement ID, description, and then a category. Then each achievemnt is simply a picture for that stamp.

<% if user_signed_in? %>
  <li><%= link_to 'View your StampCard', user_path(id: current_user) %></li>
  <li><%= link_to 'Edit Your User', edit_user_registration_path %></li>
  <li><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Log In', new_user_session_path %></li>
  <li><%= link_to 'Join StampCards', new_user_registration_path %></li>
<% end %>
