<!DOCTYPE html>
<html>
  <head>
    <title>Your Rails App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
      <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name"><%= link_to 'Home page', root_path %></li>
    </ul>
    </nav>
  </body>
</html>
